body{
    background-size:cover;
    background-image: url(background.jpg);
}
h1{
    font-style: italic;
}
form{
    width: 500px;
    margin: auto;
    line-height: 30px;
}
input{
    border-style: solid;
    outline: auto;
}